<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Multiple File Upload</title>
    
    <link rel="stylesheet" type="text/css" href="~/Resources/stylesheets/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Resources/stylesheets/css/main.css" />
</head>
<body>
    @RenderBody()
    
    <script src="~/Resources/javascript/vendor/jquery-1.11.1.min.js"></script>
    <script src="~/Resources/javascript/vendor/jquery.form-3.51.0.min.js"></script>
    <script src="~/Resources/javascript/multiple-file-upload.js"></script>
    <script src="~/Resources/javascript/main.js"></script>
</body>
</html>
