<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Multiple File Upload</h1>
            <hr />
            <h2>Add files</h2>
            <div id="error-messages"></div>            
            
            <form id="form">
                <ul id="file-upload-inputs"></ul>
                <a id="add-more" class="btn btn-primary">Legg til ny fil</a>
                <hr />
                <input type="submit" value="Submit" class="btn btn-default" />
            </form>
            
            <div id="feedback"></div>
        </div>
    </div>
</div>